@import "css/normalize.css";

html {
    background-color: #d1d1d1;
    font-size: 16px;
    font-family: 'PT Serif', serif;
    height: 100%;
    margin: auto;
    max-width: 20rem;
}

header {
    background-color: #636363;
    color: #ffffff;
}