@import "css/normalize.css";

/*  Overall Settings */

html {
    background-color: #c7d5e0;
    font-size: 16px;
    font-family: 'PT Serif', serif;
    height: 100%;
    margin: auto;
    max-width: 20rem;
}

li {
    color: #c7d5e0;
}

/*  Links Settings */

a:link {
    color: #c7d5e0;
    text-decoration: underline;
}

a:visited {
    color: #c7d5e0;
    text-decoration: none;
}

a:hover {
    color: #c7d5e0;
    text-decoration: none;
}

a:active {
    color: #c7d5e0;
    text-decoration: none;
}

/*  Header part */

header {
    background-color: #1b2838;
    color: #c7d5e0;
    margin: auto;
    height: 9rem;
}

#title_1 {
    font-size: 2.4rem;
    position: relative;
    left: 7rem;
    top: -8.5rem;
    margin: auto;
}

#title_2 {
    font-size: 1.2rem;
    position: relative;
    left: 7rem;
    top: -11rem;
    margin: auto;
}

/*  Navigation */

#nav {
    position: relative;
    top: -2rem;
    left: 0.9rem;
    margin: auto;
}

#nav div {
    float: left;
    width: 25%;
}

/*  main body part */

main {
    background-color: #1b2838;
    padding: 2px;
    min-height: 17rem;
}

main p {
    color: #c7d5e0;
    padding: 4px;
    margin: auto;
}

/*  footer part */

footer {
    background-color: #1b2838;
    padding: 1px;
}

footer p {
    color: #c7d5e0;
    padding: 4px;
    margin: auto;
}

/*  dividing line */

#line {
    background-color: #c7d5e0;
    margin: 10px;
}

/* asdie navigation part */

#aside {
    position: fixed;
    margin: auto;
    top: 22rem;
    right: 3rem;
}

#aside img {
    opacity: 0.6;
    filter: alpha(opacity=60);
}